body{
  margin: 0;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input, textarea, select {
    outline: none;
}

#aligner{
  margin-top: 100px;
  margin-left: 45%;
}

#letter-holder{
  font-size: 12em;
  color: #c4546e;
}


td, th {
  font-size: 2em;
  text-align: left;
  padding: 8px;
}

.score-holder {
  padding: 20px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  color: #fff;
  background-color: #c4546e;
  border-top-left-radius: 60px;
}

#mode-selector {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 2em;
  padding: 10px;
  border: solid 2px #c4546e;
  color: #c4546e;
}
#mode-selector option {
  color: #c4546e;
  background-color: #fff;
}

select:focus > option:checked {
    background: #c4546e !important;
    color: #fff !important;
}
