body {
  margin: 0;
  font-family: Open Sans;
}

.content {
  padding-top: 62px;
  margin: 1em;
}
.content-adjuster {
  margin: auto;
}
.navbar {
  margin: auto;
  max-width: 1000px;
}
.nav-fill {
  width: 100%;
  background-color: #fff;
  box-shadow: none;
  transition: box-shadow 0.2s;
  position: fixed;
  top: 0;
  z-index: 1;
}
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}
.nav-item {
  float: left;
}
.nav-item a {
  display: block;
  color: #282c34;
  text-align: center;
  padding: 30px 26px 18px 26px;
  text-decoration: none;
  font-size: 16px;
}
.nav-text a {
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 34px;
  padding: 14px 26px;
  padding-left: 12px;
  color: #282c34;
}
.nav-img a {
  padding: 0px 0px;
}
.nav-item a:hover {
  color: darkorange;
}
.nav-text a:hover {
  color: #282c34;
}
.nav-right {
  float: right;
}
.nav-right a {
  padding: 21px 4px;
  font-size: 26px;
}
#andreto-text-icon {
  height: 42px;
  margin-bottom: -8px;
}

.page-up-arrow {
  height: 40px;
  margin: auto;
  display: none;
}
.footer {
  border-top: #000 1px solid;
  width: 100%;
  height: 80px;
  display: block;
  text-align: center;
  padding-top: 20px;
}
.footer-item {
  margin: 0 10px;
  color: #000;
  text-decoration: none;
}
.footer-item:hover {
  color: darkorange;
}
#footerGoogleAnalyticsInfo {
  margin-top: 20px;
  color: #b6bbc4;
}
.link-stelth {
  color: inherit;
  text-decoration: none;
}
.link-stelth:hover {
  color: darkorange;
}

.content-switch-item {
  margin: auto;
  text-align: center;
  margin-bottom: 62px;
  font-size: 22px;
  background-color: #ffffff00;
  border: none;
}
.content-switch-indicator {
  position: relative;
  width: 88px;
  height: 12px;
  border-bottom: 6px solid darkorange;
  border-radius: 6px;
  transition: border-color 0.6s;
}
.content-switch-indicator.inactive {
  border-color: #ddd;
}

.grid-container {
  margin: auto;
  max-width: 1002px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-element {
  position: relative;
  padding: 0px;
  margin: 6px;
  color: #1f1f1f;
}
.ge-img {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ge-text {
  background-color: #ffffff00;
  height: 80px;
  padding-top: 2px;
  font-size: 36px;
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
}
.ge-type {
  position: absolute;
  bottom: 82px;
  right: 0;
  padding: 6px 20px;
  text-align: center;
  font-family: Calibri;
  font-size: 16px;
  border-radius: 7px 0 0 0;
  color: #fff;
  background-color: #00000075;
}

.grid-element:hover .ge-text {
  color: darkorange;
}

.latest-scratch {
  background-color: #000000;
  position: fixed;
  top: 100px;
  left: 20px;
  width: 200px;
  height: 500px;
  visibility: hidden;
}

button:focus {
  outline: 0;
}

@media only screen and (max-width: 1040px) {
  .grid-container {
    max-width: 496px;
    grid-template-columns: repeat(1, 1fr);
  }

}

@media only screen and (max-width: 680px) {
  .nav-right {
    float: right;
    display: none;
  }
}

@media only screen and (max-width: 540px) {
  .nav-item {
    display: none;
  }
  .nav-text{
    padding-left: 0;
    width: 100%;
    text-align: center;
    display: inline;
  }
  .nav-text{
    padding-left: 14px;
  }
}
