body{
  margin: 0;
}

.content{
  margin: 1em;
}
.content-adjuster{
  margin: auto;
}


.navbar{
  margin: auto;
  max-width: 1000px;
}
.nav-fill{
  width: 100%;
  background-color: #282c34;
}
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282c34;
}
.nav-item {
  float: left;
}
.nav-item a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-text a {
  font-size: 34px;
  padding: 14px 26px;
  padding-left: 12px;
  color: #fff;
}
.nav-img a{
  padding: 0px 0px;
}
.nav-item a:hover {
  color: darkorange;
}
.nav-text a:hover {
  color: #fff;
}
.nav-right {
	float: right;
}

.footer {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #757b87;
  width: 100%;
  height: 80px;
  display: block;
  text-align: center;
  padding-top: 40px;
}
.footer-item {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}
.footer-item:hover {
  color: darkorange;
}
#footerGoogleAnalyticsInfo {
  margin-top: 20px;
  color: #b6bbc4;
}
.link-stelth {
  color: inherit;
  text-decoration: none;
}
.link-stelth:hover {
  color: darkorange;
}


.grid-container {
    display: grid;
    margin: auto;
    max-width: 1002px;
}
.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(496px, 1fr));
}
.grid-element {
  padding: 0px;
  margin: 6px;
  color: #1f1f1f;
}
.ge-img {
  background-color: deepPink;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ge-text {
  background-color: #ffffff00;
  height: 80px;
  padding-top: 2px;
  font-size: 36px;
  font-family: 'Roboto Slab', serif;
  text-decoration: underline;
}
.grid-element:hover {
  color: darkorange;
}


.latest-scratch {
  background-color: #000000;
  position: fixed;
  top: 100px;
  left: 20px;
  width: 200px;
  height: 500px;
  visibility: hidden;

}
