body {
  overflow: hidden;
  background-color: #202225;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  padding-top: 100px;
  padding-bottom: 20px;
  color: #fff;
  width: 400px;
  margin: auto;
}

.content {
  width: 400px;
  padding: 20px;
  margin: auto;
  background-color: #36393F;
  border-radius: 5px;
}

.online-dot {
  position: absolute;
  margin-left: 80px;
  margin-top: 80px;
  width: 40px;
  height: 40px;
  border: 8px solid #36393F;
  border-radius: 50%;
  background-color: #43B581;
}

#profile-img {
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}
.copy-user {
  height: 128px;
  font-size: 28px;
}
.copy-area{
  background-color: #36393F;
  cursor: pointer;
}
.username {
  font-weight: bold;
  color: #fff;
}
.usertag {
  color: #aaa;
}

#andreto-site-a{
  font-size: 18px;
  position: fixed;
  bottom: 0;
  background-color: #202225;
  color: #AD1457;
  text-decoration: none;
  width: 100%;
  padding: 20px;
}

/*Tooltop*/
#copy-input {
  position: absolute;
  top: 111%;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 16px;
  width: 140px;
  background-color: #40444B;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 140px;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #40444B transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
