


.andrdoc-content-align{
  width: 100%;
}
.andrdoc-content{
  max-width: 760px;
  margin: auto;
}

.andrdoc-document{
  font-family: Calibri;
}

/*text*/
.andrdoc-text-medium{
  font-size: 28px;
}
.andrdoc-text-small{
  font-size: 18px;
}
.andrdoc-text-strong{
  font-weight: bold;
}

/*headers*/
.andrdoc-text-h1{
  color: #47546d;
  font-weight: bold;
  font-size: 46px;
  margin-top: 58px;
  margin-bottom: 28px;
}
.andrdoc-text-h2{
  margin-top: 28px;
  margin-bottom: 6px;
  font-size: 38px;
  color: #21252b;
  font-weight: normal;
}

/*links*/
.andrdoc-link-stelth{
  text-decoration: none;
  color: inherit;
}
.andrdoc-link-stelth:hover{
  color: darkorange;
}

/*images*/
.andrdoc-img-fill{
  max-width: 100%;
  width: 760px;
  margin-top: 20px;
  margin-bottom: 20px;
}
